@font-face {
    font-family: "Avenir-Next-Regular";
    src: url(./Fonts/AvenirNextLTPro-Regular.otf);
}

@font-face {
    font-family: "Avenir-Next-Bold";
    src: url(./Fonts/AvenirNextLTPro-Bold.otf);
}



/* variables */
:root{
    /* typography */
    --font-regular: "Avenir-Next-Regular";
    --font-bold: "Avenir-Next-Bold";

    /* shadows */
    --main-shadow: 0px 16px 16px 0px #CACBD240;

    
    /* radiuses */
    --radius: 0.5rem;
}


body {
    background-color: #f6f6f6;
}

/* Main wrapper styles */

.mainblock {
    display: grid;
    max-width: 1000px;
    margin: 0 auto;
    grid-template-columns: 7fr 5fr;
    grid-column-gap: 20px;
    padding: 100px 0;


}



/* Forms block */
.formwrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 50px;
    grid-gap: 20px;

}

/* Form header */

.form__header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    grid-column-start: 1;
    grid-column-end: 3;
    
}

.form__header-title {
    font-family: var(--font-bold);
    font-size: 1.5rem;

}

.form__header-description {
    font-family: "Avenir-Next-Regular";
    font-size: 1rem;
    line-height: 20px;


}



/* Forms items */

.forms__input {
    box-sizing: border-box;
    position: relative;
    width: 100%;
    height: 100%;
    border: none;
    border-radius: var(--radius);
    padding: 0 0 0 15px;
    box-shadow: var(--main-shadow);

}

/* forms items common styles */

.forms__textarea-message {
    padding-top: 15px;
}

textarea{
    resize: none;
}

.forms__item-name {
    grid-column-start: 1;
    grid-column-end: 2;

}

.forms__input::placeholder, .placeholderSelect {
    font-family: var(--font-regular);
    font-size: 0.9rem;
    color: #858585;
}


/* forms items grid  */

.forms__item-title {
    grid-column-start: 2;
    grid-column-end: 3;

}

.forms__item-institution {
    grid-column-start: 1;
    grid-column-end: 2;
}

.forms__item-email {
    grid-column-start: 2;
    grid-column-end: 3;
}

.forms__item-phone {
    grid-column-start: 1;
    grid-column-end: 2;
}

.forms__item-medical {
    grid-column-start: 2;
    grid-column-end: 3;
}

.forms__item-inquiry {
    grid-column-start: 1;
    grid-column-end: 3;


}

.forms__item--message {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 6;
    grid-row-end: 9;
}




/* Button element */
.forms__button {
    font-family: var(--font-bold);
    color: #fff;
    border-radius: var(--radius);
    cursor: pointer;
}

/* modifier for primary button */
.forms__button-primary {
    background-color: #000;
    width: 70%;
}



/* Map styles */
.map {
    margin: 30px 0 0 20px;
}

/* Map informational window */

.gm-style-iw {
    width: 200px !important;
}

.gm-ui-hover-effect {
    display: none !important;
}

.info_heading {
    font-weight: 600;
    margin: 0 0 5px 0;
}

.info_content {
    font-weight: 400;
    margin: 0 0 5px 0;

}

.info_contact {
    font-size: 0.7rem;
    color: #858585;
    font-weight: 400;
    margin: 0 0 5px 10px;

}

.contactwrapper {
    display: flex;
    align-items: center;
    margin: 0 0 0 5px;
}


/* custom select */

.selectwrapper{
    display: flex;
    position: absolute;
    flex-direction: column;
    padding: 10px 15px;
    z-index: 10;
    box-sizing: border-box;
    height: auto;
    width: inherit;
    background-color: #fff;
    left: 0;
    top: 35px;
    box-shadow: var(--main-shadow);
    border-radius: var(--radius);
    

}

.forms__item_select{
    cursor: pointer;
}

.selectitem{
    cursor: pointer;
    font-family: var(--font-regular);
    padding: 5px 0;

}

.select__main{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;

}

/* select arrow */


.selectArrow{
    width: 20px;
    height: 20px;
    margin-right: 15px;

}

.selectArrowOpen{
    background: url("./../assets/icons/SelectArrowOpen.png") no-repeat;
    background-position: center;

}

.selectArrowClosed{
    background: url("./../assets/icons/SelectArrowClosed.png") no-repeat;
    background-position: center;

}



/* responsive */

@media screen and (max-width: 1024px) {
    .mainblock{
        padding: 20px;
    }
}

@media screen and (max-width: 750px) {
    .mainblock{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
    }

    .map{
        margin: 20px 0 0 0;
    }
}

@media screen and (max-width: 560px) {

    .map{
        height: 450px;
    }

    .form__header-title{
        padding-bottom: 10px;

    }


    .formwrapper{
        grid-template-rows: repeat(8, 60px);
        grid-gap: 30px;
    }
    
    .forms__item-name {
        grid-column-start: 1;
        grid-column-end: 3;
    
    }
    
    .forms__item-title {
        grid-column-start: 1;
        grid-column-end: 3;
    
    }
    
    .forms__item-institution {
        grid-column-start: 1;
        grid-column-end: 3;
    }
    
    .forms__item-email {
        grid-column-start: 1;
        grid-column-end: 3;
    }
    
    .forms__item-phone {
        grid-column-start: 1;
        grid-column-end: 3;
    }
    
    .forms__item-medical {
        grid-column-start: 1;
        grid-column-end: 3;
    }
    
    .forms__item-inquiry {
        grid-column-start: 1;
        grid-column-end: 3;
    
    
    }
    
    .forms__item--message {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 9;
        grid-row-end: 12;
    }

    .forms__button-primary{
        width: 100%;
        grid-column-start: 1;
        grid-column-end: 3;
    }
}
@media screen and (max-width: 350px) {
    .mainblock{
        padding: 20px;
    }
}